<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/task    
    http://www.springframework.org/schema/task/spring-task.xsd">

	<!--<task:annotation-driven />-->
	<!--订单定时同步job-->
	<bean id="syncJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.arvato.thoroughly.job.JstClientJob"/>
		</property>
		<property name="targetMethod" value="execute"/>
		<property name="concurrent" value="false"/>
	</bean>
	<bean id="syncJobDetailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="syncJobDetail"/>
		<property name="startDelay" value="1000"/>
		<property name="cronExpression" value="0 0/2 * * * ?"/>
	</bean>

	<bean id="startQuertz" lazy-init="false" autowire="no"
		  class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">
		<!--定义一个触发器-->
		<property name="triggers">
			<list>
				<!--<ref bean="syncJobDetailTrigger"/>-->
				<!--<ref bean="syncErrorJobTrigger"/>-->
				<!--<ref bean="syncRefundJobDetailTrigger"/>-->
				<!--此Job目前不需要启动-->
				<!--<ref bean="syncJobDetailBySellerTrigger"/>-->
				<!--此Job目前不需要启动-->
			</list>
		</property>
	</bean>
</beans>
